{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/About_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="icon" href="{% static 'images/i.png'%}">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet">
    <title>О нас</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{%static 'images/shrine-s320190315-153-ngrv4k.png'%}" width="48" height="48" alt=".">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="about">О нас<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Для клиентов
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="archive">Архив курсов</a>
          <a class="dropdown-item" href="contacts">Контакты</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Войти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registration">Зарегистрироваться</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" style="background-color:#343a40; ">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="not_work.html">Найти</a></button>
    </form>
  </div>
</nav>
<div class="main">
<div class="odin">
<div class="o">
  <p>Наша школа - самая лучшая в Казахстане.</p>
</div>
<div class="d">
  <p>У нас лучшие преподаватели</p>
</div>
<div class="t">
  <p>Школа программирования GeekMethod - это место, где дети и взрослые могут в короткие сроки получить качественное IT-образование. Видение школы - это Казахстан на лидирующих позициях мирового технологического рынка. Миссия школы - способствовать воплощению данного видения путём подготовки конкурентоспособных IT-специалистов с раннего возраста.</p>
</div>
<!-- <div class="c">
  <p>SOMETHING ABOUT US</p>
</div> -->
</div>
</div>
<footer>
  <ul>
    <li>
      <a class="logo" href="/">GeekBrain <i>&copy; 2019</i></a>
    </li>
    <li>
      <ul>
        <li><a href="#">3D modeling</a></li>
        <li><a href="#">Web development</a></li>
        <li><a href="#">Mobile development</a></li>
        <li><a href="#">Web &amp; Print Design</a></li>
      </ul>
    </li>
    <li>
      <ul>
        <li><a href="#">Email</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li>555-123456789</li>
      </ul>
    </li>
    <li>
      <ul>
        <li><a href="#">Login Area</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </li>
  </ul>
</footer>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
